header {
	height: 700px;
}
section {
	background-color: white;
	padding: 70px;
}
footer {
	background-color: white;
	padding: 20px;
}
form {
	width: 500px;
}
.opacity-nav {
	position: fixed;
	width: 100%;
	padding-right: 30px;
	font-style: italic;
	z-index: 100;
}
.title {
	font-family: 'Oleo Script', cursive;
	position: absolute;
	color: white;
	font-size: 45pt;
  	left: 10%;
	right: 10%;
	top: 25%;
}
.title-author {
	margin-left: 200px;
	font-size: 25pt;
}
.languages {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	background: none;
	color: white;
}
.languages:hover,
.languages:focus {
	color: #ccc;
	background: none;
}
.img-background {
	position: fixed;
	z-index: -100;
}
.button-text {
	font-family: 'Oleo Script', cursive;
	font-size: 20pt;
}
.avatar{
	width: 200px;
	height: 200px;
}
.playerBox {
}
.styled-title{
	font-family: 'Oleo Script', cursive;
	font-size: 35pt;
}
.styled-subtitle{
	font-family: 'Oleo Script', cursive;
	font-size: 20pt;
}
.styled-text{
	font-style: italic;
	font-size: 20pt;
}
.styled-subtext{
	font-style: italic;
	font-size: 15pt;
}
.one-day-block{
	color: black;
	padding-top: 200px;
}
.footer-image {
	position: absolute;
	z-index: -10;
}